.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.login-form {
    width: 40%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

.login-form .card-title {
    text-align: center;
    font-size: 2.2em;
}

.login-form .card-title img {
    width: 300px;
}

.wrapper {
    background-image: url('https://www.planwallpaper.com/static/images/9Zk2kcY.jpg');
    background-size: auto auto;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #96CCD5;
    position: absolute;
    width: 100%;
    height: 100%;
}

.profile-menu {
    text-align: center !important;
}

.profile-menu img {
    width: 47%;
    border-radius: 5em;
}

.action-button {
    border-top: 1px solid #ccc !important;
    padding-top: 0.5em !important;
    margin-top: 1em !important;
}

.indicative {
    padding: 0.5em 1em 1em;
    color: white;
    border-radius: .25rem !important;
}

.indicative .card-title {
    font-size: 1.28em;
    font-weight: 600;
}

.indicative .card-subtitle {
    font-weight: normal;
}

.card-primary {
    background-color: #20A8DA !important;
    border-color: #187da0 !important;
}

.card-success {
    background-color: #4dbd74!important;
    border-color: #349C56 !important;
}

.card-warning {
    background-color: #ffc107!important;
    border-color: #daaa17 !important;
}

.card-info {
    background-color: #63c2de!important;
    border-color: #29a3c7;
}

.space-div {
    padding-top: 2em;
}

.space-div h5 {
    margin-bottom: 1em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #ccc;
}

.loader{ 
    background: rgba( 255, 255, 255, .8 ) 
    url('pacman_loader.gif')
    50% 50% no-repeat; 
    background-position: 50% 50%;
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: 1001; 
}

.most-indicatives:last-child {
    padding-bottom: 2.5em;
}

/* <img src={process.env.PUBLIC_URL + "/pacman_loader.gif"} alt="Loader gif" /> */